.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(12px + 3vmin);
  margin: calc(15px + 1vmin);
}

.App-body {
  font-size: calc(8px + 2vmin);
  justify-content: center;
  height: 100%;
  margin-bottom: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-weight: 600;
  font-size: calc(25px + 2vmin);
}

.updated {
  font-size: calc(4px + 1.5vmin);
  color: lightgray;
}

table {
  margin-top: 15px;
}

td {
  padding: 10px 20px 10px 20px;
}

.playerCode {
  font-size: calc(1.5vmin);
  color: lightgray;
}


.wins {
  color: lightgreen;
}

.losses {
  color: lightcoral;
}

.rankIcon {
  height: calc(10px + 3.5vmin);
  width: auto;
}

.characterIcon {
  height: calc(10px + 3.5vmin);
  width: auto;
}

.input {
  font-size: calc(5px + 1.5vmin);
}

.inputBox {
  margin-left: 5px;
  border-radius: 5px;
  border: 0;
}

.successResult {
  font-size: calc(2px + 1.3vmin);
  color: lightgreen;
  text-align: center;
}

.failResult {
  font-size: calc(2px + 1.3vmin);
  color: lightcoral;
  text-align: center;
}

.footer {
  margin-bottom: 15px;
  font-size: calc(3px + 1vmin);
}

.skaht {
  font-size: calc(4px + 1,5vmin);
  font-style: italic;
}

.icons a {
  margin-left: 3px;
  margin-right: 3px;
}

a {
  color: white;
}

a:active {
  color: none;
}

.bronze {
  color: #d59d4e;
}

.silver {
  color: #e5e5e5;
}

.gold {
  color: #ffc534;
}

.plat {
  color: #08e3d9;
}

.diamond {
  color: #4dc5ff;
}

.master {
  color: #c343ff;
}

